*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
 body {
    display : flex;
    min-height : 100vh;
    flex-direction: column;
    background : #ffff;
}
.box{
    position: relative;
    display : block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    width : 700px;
    height : 400px;
    background: ;
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.3);
    border-radius : 8px;
    overflow: hidden;
    
}
form{
position: absolute;
inset: 2px;
background: black;
z-index: 2;
padding : 30px 40px;
border-radius :10px;
display : flex;
flex-direction: column;
}
h2{
color : #F55EA9;
font-weight: 500;
text-align: center;
letter-spacing: 0.1em;
}
.always{
display: flex;
justify-content: space-between;
}
.always2{
display : flex;
justify-content: space-between;
}
.always3{
    display: flex;
    justify-content: space-between;
}
.inputBox{
position : relative;
width : 300px;
margin-top : 35px;
}
.inputBox input{
position: relative;
width : 100%;
padding : 20px 10px 10px;
background : transparent;
outline : none;
box-shadow: none;
border : none;
color : #000;
font-size: 1em;
letter-spacing : 0.05em;
transition : 0.5s;
z-index : 10;

}
.inputBox span{
position :absolute;
left : 0;
padding : 20px 0px 10px;
pointer-events: none;
font-size: 1em;
color : #fff;
letter-spacing: 0.05em;
transition : 0.5s;
}
.inputBox input:focus ~ span,  .inputBox input:valid ~ span{
color : #fff;
transform : translateX(0px) translateY(-34px);
font-size : 0.75em;
}
.inputBox in{
position : absolute;
left : 0;
bottom : 0;
width : 100%;
height: 2px;
background : #F55EA9;
border-radius: 4px;
overflow: hidden;
transition: 0.5s;
pointer-events: none;
z-index: 9;
}
.inputBox input:focus ~ in,  .inputBox input:valid ~ in{
height : 44px;

}


input[type="submit"]{
border : none;
outline : none;
padding : 10px 25px;
background: #F55EA9;
cursor : pointer;
border-radius: 4px;
font-weight: 500;
width : 100px;
margin-top: 20px;
}
input[type="submit"]:active{
opacity: 0.8;
}
.yummy, .yummy-one{
margin-top: 30px;
font-size: 18px;
color: #fff;
}

.checking{
   display: table;
}